<!doctype html>
<html>
<head>
    <title>Pokemon Show Page</title>
</head>
<body>
<h1>Gotta Catch 'Em All</h1>

<h2><%=pokemon.name %></h2>

<img src="<%=pokemon.img %>">
<br>

<p><%=pokemon.hp%></p>
<p><%=pokemon.attack%></p>

<a href="/pokemon/<%=index%>/edit">Edit</a>

<a href="/pokemon">Back</a>

</body>
</html>